HeadOfficeClientApplication/Connected Services/CalloutServiceReference/CallOutService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60227/CallOutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwikMedical" />
  <xs:element name="GetAllCallOuts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCallOutsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KwikMedical" minOccurs="0" name="GetAllCallOutsResult" nillable="true" type="q1:ArrayOfCallOutDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callOutId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KwikMedical" minOccurs="0" name="GetCallOutResult" nillable="true" type="q2:CallOutDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCallOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospitalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionTaken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TimeSpent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCallOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCallOutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCallOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallOutId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospitalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionTaken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TimeSpent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCallOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCallOutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>