AmbulanceClientApp/Connected Services/HospitalServiceReference/HospitalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HospitalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60227/HospitalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60227/HospitalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60227/HospitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwikMedical" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHospitalService_GetAllHospitals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHospitals" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetAllHospitals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHospitalsResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetHospital_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospital" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetHospital_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalResponse" />
  </wsdl:message>
  <wsdl:portType name="IHospitalService">
    <wsdl:operation name="GetAllHospitals">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetAllHospitals" message="tns:IHospitalService_GetAllHospitals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetAllHospitalsResponse" message="tns:IHospitalService_GetAllHospitals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospital">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetHospital" message="tns:IHospitalService_GetHospital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetHospitalResponse" message="tns:IHospitalService_GetHospital_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="HospitalService" />
</wsdl:definitions>