HeadOfficeClientApplication/Connected Services/PatientServiceReference/PatientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60227/PatientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwikMedical" />
  <xs:element name="GetAllPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KwikMedical" minOccurs="0" name="GetAllPatientsResult" nillable="true" type="q1:ArrayOfPatientDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KwikMedical" minOccurs="0" name="GetPatientResult" nillable="true" type="q2:PatientDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InsuranceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RegionalHospital" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MedicalConditions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPatientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>