HeadOfficeClientApplication/Connected Services/PatientServiceReference/PatientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60227/PatientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60227/PatientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60227/PatientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwikMedical" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPatientService_GetAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatients" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient" />
  </wsdl:message>
  <wsdl:message name="IPatientService_GetPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_InsertPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPatient" />
  </wsdl:message>
  <wsdl:message name="IPatientService_InsertPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPatientResponse" />
  </wsdl:message>
  <wsdl:portType name="IPatientService">
    <wsdl:operation name="GetAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/GetAllPatients" message="tns:IPatientService_GetAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/GetAllPatientsResponse" message="tns:IPatientService_GetAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/GetPatient" message="tns:IPatientService_GetPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/GetPatientResponse" message="tns:IPatientService_GetPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/InsertPatient" message="tns:IPatientService_InsertPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/InsertPatientResponse" message="tns:IPatientService_InsertPatient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PatientService" />
</wsdl:definitions>