HeadOfficeClientApplication/Connected Services/HospitalServiceReference/HospitalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60227/HospitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwikMedical" />
  <xs:element name="GetAllHospitals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHospitalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KwikMedical" minOccurs="0" name="GetAllHospitalsResult" nillable="true" type="q1:ArrayOfHospitalDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KwikMedical" minOccurs="0" name="GetHospitalResult" nillable="true" type="q2:HospitalDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>