HeadOfficeClientApplication/Connected Services/HospitalServiceReference/HospitalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KwikMedical" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KwikMedical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHospitalDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HospitalDataContract" nillable="true" type="tns:HospitalDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospitalDataContract" nillable="true" type="tns:ArrayOfHospitalDataContract" />
  <xs:complexType name="HospitalDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalDataContract" nillable="true" type="tns:HospitalDataContract" />
</xs:schema>