AmbulanceClientApp/Connected Services/PatientServiceReference/PatientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KwikMedical" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KwikMedical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPatientDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientDataContract" nillable="true" type="tns:PatientDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientDataContract" nillable="true" type="tns:ArrayOfPatientDataContract" />
  <xs:complexType name="PatientDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalConditions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionalHospital" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDataContract" nillable="true" type="tns:PatientDataContract" />
</xs:schema>