AmbulanceClientApp/Connected Services/CalloutServiceReference/CallOutService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallOutService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60227/CallOutService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60227/CallOutService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60227/CallOutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KwikMedical" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICallOutService_GetAllCallOuts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCallOuts" />
  </wsdl:message>
  <wsdl:message name="ICallOutService_GetAllCallOuts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCallOutsResponse" />
  </wsdl:message>
  <wsdl:message name="ICallOutService_GetCallOut_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallOut" />
  </wsdl:message>
  <wsdl:message name="ICallOutService_GetCallOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallOutResponse" />
  </wsdl:message>
  <wsdl:message name="ICallOutService_InsertCallOut_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCallOut" />
  </wsdl:message>
  <wsdl:message name="ICallOutService_InsertCallOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCallOutResponse" />
  </wsdl:message>
  <wsdl:message name="ICallOutService_UpdateCallOut_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallOut" />
  </wsdl:message>
  <wsdl:message name="ICallOutService_UpdateCallOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallOutResponse" />
  </wsdl:message>
  <wsdl:portType name="ICallOutService">
    <wsdl:operation name="GetAllCallOuts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallOutService/GetAllCallOuts" message="tns:ICallOutService_GetAllCallOuts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallOutService/GetAllCallOutsResponse" message="tns:ICallOutService_GetAllCallOuts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallOutService/GetCallOut" message="tns:ICallOutService_GetCallOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallOutService/GetCallOutResponse" message="tns:ICallOutService_GetCallOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCallOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallOutService/InsertCallOut" message="tns:ICallOutService_InsertCallOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallOutService/InsertCallOutResponse" message="tns:ICallOutService_InsertCallOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCallOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallOutService/UpdateCallOut" message="tns:ICallOutService_UpdateCallOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallOutService/UpdateCallOutResponse" message="tns:ICallOutService_UpdateCallOut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CallOutService" />
</wsdl:definitions>