AmbulanceClientApp/Connected Services/CalloutServiceReference/CallOutService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KwikMedical" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KwikMedical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCallOutDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallOutDataContract" nillable="true" type="tns:CallOutDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallOutDataContract" nillable="true" type="tns:ArrayOfCallOutDataContract" />
  <xs:complexType name="CallOutDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionTaken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallOutId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSpent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallOutDataContract" nillable="true" type="tns:CallOutDataContract" />
</xs:schema>